alembic==1.14.0
celery==5.5.3
cryptography==44.0.0
Flask==2.2.5
gunicorn==23.0.0
prometheus-client==0.21.1
pydantic==2.10.4
pydantic-settings==2.7.0
redis==5.2.1
requests==2.32.3
pytz==2022.2.1
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4
pymysql==1.1.1
tonsdk==1.0.15
